<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<File name="LogFile" fileName="all.log" immediateFlush="false" append="false">
			<PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>
		<NoSql name="MongoAppender">
			<MongoDb databaseName="DistributoriNoSQL" collectionName="log" server="localhost" username="root" password="" port="27017" />
		</NoSql>
	</Appenders>
	<Loggers>
		<Root level="TRACE">
			<AppenderRef ref="Console" />
		</Root>
		<logger name="it.unisalento.distributori" level="WARN">
  			<AppenderRef ref="MongoAppender" />
  			<AppenderRef ref="LogFile" />
  		</logger>
		<logger name="it.unisalento.distributori" level="DEBUG">
  			<AppenderRef ref="Console" />
  		</logger>
	</Loggers>
</Configuration>